.card {
    animation: fade-up 0.5s 0.4s backwards;
    border: 3px solid purple;
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 7px;
    width: 250px;
    min-height: 24px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    color: black;
    background-image: url("../images/card_bg.png");
    background-repeat: no-repeat;
    background-size: 300px 465.19px;
}


.card:hover {
    transform: scale(1.1);
}

.container.bdy {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Overwrite the detail in main style.css file */
.user-image {
    max-width: 75%;
    border-radius: 50%;
    margin-bottom: 10px;
}
@media screen and (max-width:767px) {
    .user-image{
        max-width: 75%;
    }
}

.info-box-name {
    color: #000000;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
    transition: background-color 0.3s ease-in-out;
}


.info-box {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box:hover {
    background-color: #cfd8dc;
    color: black;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.container.bdy {
    justify-content: center;

}
#d1{
    max-width: 60%;
}
#logo{
    width: auto;
    top: 33px;
    left: 10vmin;
    height: 65px;
}
@media screen and (min-width:1179px) {
    #logo{
        height: 109px;
        width: auto;
        top: 1.6vmin;
    }
    
} 