/* styles.css */

/* Ensure images don't exceed their container width */
.responsive-robo-container {
    height: auto;
    margin: 10px;
    align-items: center;
    position: relative;
    /* Add relative positioning to the container */
}

/* Image specific styling */
.guidelineimg {
    max-width: 15%;
    position: absolute;
    right: 10%;
    /* Adjust the right positioning as needed */
}

/* Responsive styles for smaller screens */
@media screen and (max-width:767px) {
    .responsive-robo-container {
        height: auto;
        margin: 10px;
        align-items: center;
        position: relative;
    }

    .guidelineimg {
        max-width: 15%;
        position: absolute;
        margin-top: 5px;
        right: 10%;
        /* Allow the height to adjust proportionally */
    }

    .timelineimg {
        max-width: 15%;
        position: absolute;
        left: 15%;
        margin-top: 6%;
        /* Allow the height to adjust proportionally */
    }

    .awardimg {
        max-width: 12%;
        position: absolute;
        margin-bottom: 8%;
        right: 15%;

        /* Adjust the right positioning as needed */
    }
    .enrollimg{
        max-width: 12%;
        position: absolute;
        right: 10%;
    }
}


.timelineimg {
    max-width: 22%;
    position: absolute;
    left: 15%;

    /* Adjust the right positioning as needed */
}

.awardimg {
    max-width: 16%;
    position: absolute;
    right: 15%;

    /* Adjust the right positioning as needed */
}

.enrollimg{
    max-width: 15%;
    position: absolute;
    top: -100px;
    right: 10%;
}

/* styles.css */

/* styles.css */

@keyframes shakeUpDown {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.shaking {
    animation: shakeUpDown 2s ease infinite;
}