:root{
    --bgClr :linear-gradient(to bottom, #1A002F 4%, #260046 29%, rgba(38, 0, 70, 0.97) 100%);
    --fontClr: #FFFFFF;
    
}

@font-face {
    
    src: url('../fonts/D3Euronism.ttf');
    font-family: D3-Euronism;
    font-family: 'Inter', sans-serif;
}

*{
    box-sizing: border-box; 
    font-size: 25px;
}
@media screen and (max-width:767px) {
    *{
        font-size: 20px;
    }
}
body{    
    padding-top: 120px;
    color : var(--fontClr);
    background: var(--bgClr);
}


/* Animation define */
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-15px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(15px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes fade-right {
    0%{
        opacity: 0;
        transform: translateX(-30px) scale(0.9);
        
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(15px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }

}

/* for animation for small devices*/
@media screen and (max-width:767px)
{
    .shw_vwport.reveal{
        position:relative;
        transform: translateY(8%);
        opacity: 0;
        transition: all 2s ease;
    }

    .shw_vwport.reveal.active{
        transform: translateY(-2%);
        opacity: 1;
    }
    .prize-body.reveal{
        position:relative;
        transform: translateX(15%);
        opacity: 0;
        transition: all 2s ease;
    }
    .prize-body.sp-prize.reveal{
        position:relative;
        transform: translateX(-15%);
        opacity: 0;
        transition: all 2s ease;
    }
    .prize-body.reveal.active,.prize-body.sp-prize.reveal.active{
        transform: translateX(0%);
        opacity: 1;
    }
    
}
/* for animation for any larger devices > 768px*/
@media screen and (min-width:768px) {
    .reveal{
        position:relative;
        transform: translateY(8%);
        opacity: 0;
        transition: all 2s ease;
    }

    .reveal.active{
        transform: translateY(-5%);
        opacity: 1;
    }
}


/* ***********************************************************************************/
/* Patricle effect has until guideline in big screen >768px*/
#particles-js{
    position: absolute;
    height:270%;
    z-index: 1;
}
/* Patricle effect has only in welcome section in phone */
@media (max-width:767px) {
#particles-js{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 1;
}
}

/* ************************************************************************************/
/* Header and navigation bar */
header{
    animation: fade-down 0.5s 0.4s backwards;
    font-family: Inter;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 2;
}

@media screen and (max-width:992px) {
    header{
        background:#1A002F;
    }
    #navbarNav{
        background-color: #1A002F;
    }
    #navbarNav{
        position: absolute;
        top: 120px;
    }
}

header.sticky{
    background:#0D0017;
}

.navbar{
    height: 120px; 
}

/* Remove link decoration */
.dd-item:link{
    text-decoration: none;
}
/* Dropdown menu offset */
.dropdown-menu{
    left: -240px !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff; 
}
.navbar-dark .navbar-nav .nav-link:hover{
    opacity: 0.5; 
}
.nav-link,.dd-item{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: -10px;
}
/* For the drop down appear when hover on it and open when click for small screen */
@media (min-width:768px) {
    .nanav-item.dropdown{
        display: block;
    }
    .dropdown-menu{
        display: block;
        opacity: 0;
        transition: all 0.4s
    }
    
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0px;
        opacity: 1;
    }
   
}



/* set the vector design at background*/
.vector_pos{
    position: absolute;
}
#logo{
    top:-1vmin;
    left: 10vmin;
}
/* set the vector in right offset */
#d1{
  top: 0vmin;
  right: 0vmin;
}
#d2{
    top: 1400px;
}
#d3{
    z-index: -1;
    top:2800px;
}


/* Each section show the size of the viewport */
.shw_vwport{
    min-height: 75vh;
}
@media screen and (min-width:768px) {
    .shw_vwport{
        padding-top: 15%;
    }
}
@media screen and (max-width:767px) {
    .shw_vwport{
        min-height: 55vh;
    }
    .shw_vwport{
        padding-top:25%;
    }
}  


/* ************************************************************************************/
/* Welcome Topic create */
#welcome{
    animation: fade-right 0.5s ;
    font-size: 20px;
    padding-top: 0px;    
}
.year,.topic-color,.st8_2,.st8_2_1,.st8_2_3{
    animation: fade-up 0.6 0.6s;
    font-family: D3 Euronism;
}
.year{
    color: #76DF93;
    font-size: 77px; 
    font-weight: 400;
}
.topic-color{
    text-align: center;
    color: #17FFB9; 
    font-weight: 300;
    letter-spacing: 4.92px;
}
.st8_2_1{
    font-size: 128px;
}
.st8_2{
    font-size: 96px;
}

.st8_2_3{
    font-size: 128px;
}
@media screen and (max-width:576px) {
    #welcome{
        font-size: 10px;
        padding-top: 10px;   
    }
    .year{
        text-align: center; 
        font-size: 40px;
        font-weight: 100;
    }
    .desc{
        text-align: center;
    }
    .topic-color{
        text-align: center;
        font-weight: 300;
        letter-spacing: 4.92px;
    }
    .st8_2_1{
        font-size: 64px;    
    }
    .st8_2{
        font-size: 48px;    
    }
    .st8_2_3{
        font-size: 64px;    
    }
}
@media screen and (min-width:577px) and (max-width:992px)  {
    .st8_2_1{
        font-size: 100px;       
        
    }
    .st8_2{
        font-size: 60px;        
        
        
    }
    .st8_2_3{
        font-size: 100px;               
        
    }
    .year{
        font-size: 40px;
        font-weight: 100;
    }
}
@media screen and (min-width:993px) {
    #welcome{
        font-size: 20px;
        padding-top: 20px;
        
    }
    .year{
        font-size: 77px;
        font-family: D3 Euronism;
        font-weight: 400;
    }
    .topic-color{
        text-align: center;
        font-family: D3 Euronism;
        font-weight: 300;
        letter-spacing: 4.92px;
    }
    .st8_2_1{
        font-size: 128px;

    }
    .st8_2{
        font-size: 96px;  
    }
    .st8_2_3{
        font-size: 128px;     
    }
}

.bttn{
    z-index: 1;
    width: 209px; 
    height: 45px; 
    padding-left: 18px; 
    padding-right: 18px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    
    position: relative; 
    background: #5AEDC1; 
    border-radius: 20px;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}
.btn a:link{
    text-decoration: none;
}
.bttn:hover,.bttn:visited{
    background-color: #1A002F;
}
.bttn-text{
    color: #0D0A9C;
    font-size: 20px;
    font-family: "Candal";
    font-weight: 400;
}
.subtext {
    position: relative;
}
.subtext p {
    font-family: "Days One";
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
}


/* ************************************************************************************/
/* Section topic */
.section-topic{
    font-weight: 700;
    font-size: 50px;
    font-family: sans-serif
}
@media screen and (max-width:767px) {
    .section-topic{
        font-size: 30px;
       text-align: center;
    }
}

/* --------------------------------------------*/
/* About */
#about{ 
    height: 100%;
    /* margin-top: 10px; */
    
}
.about{
    transition: 0.5s;
    z-index: 1;
    height: 100%;
    border-radius: 45px ;
    padding: 18px;
    background: rgba(251.16, 239.44, 239.44, 0.06);
    
}
@media screen and (max-width:767px) {
    #about{ 
        margin:0px 25px 0px 25px
    }
    .about{
        padding:0px;
        border-radius:25px ;
        font-size: 23px;
        text-align:center;
    }
    .about-text{
        padding: 0px;
    }
}

/* --------------------------------------------*/
/*Guideline*/
.guideline{
    height: 100%;
    border-radius: 45px ;
    background: rgba(251.16, 239.44, 239.44, 0.06);
}
@media screen and (max-width:767px) {
    ol, ul {
        padding-left: 7%;;
    }
    #guideline{
        margin:0 3% 2% 3%;
        min-height: 0vh;
    }
    .guideline{
        padding: 0px;
        border-radius: 30px ;
        font-size: 22px;
        
    }
    .guideline-text{
        text-align: justify;
    }
}

/* --------------------------------------------*/
/*TIMELINE section */
.shw_vwport.timeline{ 
    min-height: 210vh;
    margin-left: 1px;
}
@media screen and (max-width:767px) {
    .shw_vwport.timeline{ 
        min-height: 180vh;
        margin: 0% 0 10% 0;
    }
}

._timeline{
    padding-right: 30%;
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
}
.timelineSec{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;  
}

.timeline-align{
    padding: 10px 50px;
    width:42%;
}

.timelineSec:nth-child(1){
    animation-delay: 0s;
}
.timelineSec:nth-child(2){
    animation-delay: 1s;
}
.timelineSec:nth-child(3){
    animation-delay: 2s;
}
.timelineSec:nth-child(4){
    animation-delay: 3s;
}
.timelineSec:nth-child(5){
    animation-delay: 4s;
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 12px;
}
.timelineSec p{
    color: black;
    font-size: 15px;
}
.timelineSec h2{
    color: black;
    font-weight:600;
    font-size: 30px;
}
.timelineSec small{
    color: black;
    font-weight:bold;
    display: inline-block;
    margin-bottom: 15px;
}
.right-container{
    left: 53%;
}

.left-container{
    left: 9%;
}

/* Animation on the timeline bar */
@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
@media screen and (min-width:768px) {
    .timelineSec.animate-scroll::after {
        content: ' ';
        position: absolute;
        width: 6px;
        height: 100%;
        background: #fff;
        top: 0;
        left: 52%;
        margin-left: -3px;
        z-index: -1;
        animation: moveline 5s linear forwards;
    }
    .timeline-align{
        position: relative;
    }
}
/* boxes arrow make */
.left-container-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left:-15px;
}
 
/* media queries devices<767px*/
@media screen and (max-width:767px){
    .timeline{
        margin: 50px auto;
    }
    .timelineSec{
        left: 7px;
    }
    .timeline-align{
        padding: 0% 0% 8% 11%;
        width: 90%;
    }
    .text-box{
        padding: 9px 22px;
        font-size: 15px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container-arrow,.right-container-arrow{
        border-right:15px solid #fff;
        border-left: 0;
        left: -15px;
        text-align: center;
    }
    .phone-timeline {
        display: block;
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: #ddd;
        border-radius: 5px;
      }
      
}



/* --------------------------------------------*/
/* Prizes */
.prize-body {
    border: 1px solid #1A002F;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    min-height:400px; 
    text-align: center;
    color: black;
}
.prize {
    height: 100%; 
    justify-content: space-between;
}
.prize-body>.card{
    align-items: center;
}
.info-box-name {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
    transition: background-color 0.3s ease-in-out;
}
.user-image {
    max-width: 100%;
    margin-bottom: 10px;
}
@media screen and (max-width:767px) {
    #prizes{
        min-height: 150vh;
    }
    .prize-body{
        margin: 43px;
        width: 57%;
        margin-top: 3%;
        min-height: 363px;
    }
    .user-image {
        max-width: 100%;
        margin-bottom: 6px;
        width: 170px;
        height: 200px;
    }
}
@media screen and (min-width:992px) {
    .prize-body {
        transition: transform 0.3s ease-in-out; 
    }
    .prize-body:hover {
        transform: scale(1.0);
    }
}


/* ************************************************************************************/
/* Footer decoration */
footer{
    background-color: #0D0017;
    width: 100%;
    height: auto;
}
.row{
    padding-top: 20px;   
    text-align: center;
}

/* Round the footer icon table */
.social{
    color: white;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
}
/* Add a hover effect  */
.social:hover {
    opacity: 0.7;
}
/* Social media link and faculty logos */
.f-contact,.f-logo{
    list-style: none;
    padding: 0px;
}
@media  screen and (min-width:992px) {
    .rfooter{
        padding-left: 10rem;
    }
    .row{   
        text-align: left;
    }
}
@media  screen and (min-width:767px) and (max-width:992) {
    .rfooter{
        padding-left: 5rem;
    }
    .row{   
        text-align: left;
    }
}

.cpyright{
    font-size: 15px;
}
